<li *ngIf="cardItems" class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Sepetiniz
    <span
      class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-info"
    >
      1
      <span class="visually-hidden">unread messages</span>
    </span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a *ngFor="let cardItem of cardItems" class="dropdown-item">{{
        cardItem.product.productName
      }}</a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item">Sepete git</a></li>
  </ul>
</li>
