<li *ngIf="cardItems.length > 0" class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Sepetiniz
  </a>
  <ul class="dropdown-menu">
    <li *ngFor="let cardItem of cardItems">
      <a class="dropdown-item"
        >{{ cardItem.product.productName }}
        <span class="badge text-bg-secondary">x {{ cardItem.quantity }} </span>
        <button
          (click)="removeFromCard(cardItem.product)"
          class="badge text-bg-danger"
        >
          x
        </button>
      </a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item">Sepete git</a></li>
  </ul>
</li>
